@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
}

/* .work::after {
  content: '';
  position: absolute;
  top:30%;
  left: 50px;
  right: 50px;
  bottom: 10%;
  background-color: #FFFF;
  z-index: 0;
} */